        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }

        nav {
            background-color: #0fafff;
            color: #fff;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            padding: .5vw;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
            margin: 1vw;
        }

        nav ul {
            display: flex;
            align-items: center;
        }
        nav ul li a {
            border-radius: 5px;
            padding: .5vw;
            transition: all 0.2s ease;
        }

        nav ul li :hover {
            background-color: #fff;
            border-radius: 5px;
            color: #0fafff;
            transition: all 0.2s ease;
        }

        nav ul li.active {
            background-color: #fff;
            padding: .5vw;
            border-radius: 5px;
        }
   
        nav ul li.active a {
            color: #0fafff;
        }

        .app-icon {
            top: 0;
            font-size: 2rem;
            display: flex;
        }

        .app-icon img {
            margin-right: 1vw;

        }

        .app-icon i {
            font-size: 2.5rem;
            color: #fff;
        }

        .menu-icon {
            color: #fff;

            display: none;
            cursor: pointer;
        }

        section {
            text-align: center;

            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #home {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .internal {
            width: 80vw;
            height: 100vh;
            display: flex;

            align-items: center;
            justify-content: space-around;
        }

        .text {
            margin: 1vw;
        }

        .text h1 {
            font-size: 2rem;
        }

        .content {
            width:100vw;


            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .txt {
            width: 80vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2vw;
        }

        .txt>div {
            text-align: center;
            margin: 1vw;
            flex: 1 1 200px;
        }

        .txt h1 {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .txt p {
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .icon {
            font-size: 3rem;
            color: #fff;
        }

        .store {
            padding: 1vw;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;

        }

        .store:hover {
            background-color: rgb(5, 5, 5);
        }

        .store i {
            margin-right: 0.5vw;
        }

        section h2 {

            width: 80%;
            margin-bottom: 2vw;
            border-bottom: 1px solid #333;
        }

        section p {
            margin-bottom: 2vw;
        }

        section img {
            width: 30vh;
        }

        footer {
            background-color: #080808;
            color: #fff;
            text-align: center;
            padding: 2vw 0;
            bottom: 0;
            width: 100%;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            margin: 0 2vw;
        }

        html {
            scroll-behavior: smooth;
        }

        .abouttext {
            color: #fff;
        }

        /* //////////////////////////////////////////////////////// Features ////////////////////////////////// /////////////////////////////////////// */
        .feature-content {
            width: 100vw;
            display: flex;
            justify-content: space-evenly;

            align-items: center;
        }

        .feature-content img {
            max-width: 50%;
            height: auto;
        }

        .feature-list {
            height: 100%;
            display: flex;
            /* flex: 0 1 45%; */
        }

        .feature-list ul {
            display: flex;
            list-style-type: disc;
            flex-direction: column;
            justify-content: space-evenly;
        }


        .feature-list li {
            /* Remove display: flex; */
            align-items: center;
            margin-bottom: 1vw;
        }

        .feature-list li i {
            font-size: 1.5rem;
            margin-right: 1vw;
            color: #007bff;
        }

        .feature-list li:last-child {
            margin-bottom: 0;
        }


        /* ///////////////////////////////////////////////////////////// Our Team //////////////////////////////////////////// */

        /* Our Team Section Styles */
        #our-team {
            text-align: center;
            padding: 2rem 0;
        }

        #our-team h2 {
            margin-bottom: 1rem;
        }

        #our-team p {
            padding: 1vw;
            margin-bottom: 2rem;
        }

        .team-members {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .team-member {
            margin: 0 1rem;
            text-align: center;
        }

        .team-member img {
            width: 20vw;
            clip-path: circle();
            margin-bottom: 1rem;
        }

        .team-member h3 {
            margin-bottom: 0.5rem;
        }

        .team-member p {
            color: #777;
        }

        /* ///////////////////////////////////// FAQ  /////////////////////////////////////// */

        .faq-list {
            width: 80vw;
            margin-top: 2vw;
        }

        .faq-list h3 {
            color: #fff;
            margin: 1rem 0 1rem 0;

            font-size: 1rem;
            /* margin-bottom: 0.5rem; */
            transition: all 0.2s ease;

        }

        .faq-list p {
            margin-bottom: 1.5rem;
            color: #333333d4;
            line-height: 1.5;
        }

        .answer {
            display: none;
        }

        .faq-list h3:hover {

            background-color: #0000001e;
            border-radius: 20px;
        }

        .answer.show {
            display: block;
        }


        .faql {
            display: flex;
            width: 80vw;
            flex-direction: row;
            flex-wrap: nowrap;
        }


        /* ///////////////////////////////////// Contact US /////////////////////////////////////// */

        .container {
            margin: 0 auto;
            padding: 2vw;
        }

        section {
            margin-bottom: 2vw;
        }
        #contact p {
            padding: 1vw;
            margin-bottom: 2rem;
        }

        .internal1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        h2 {
            margin-bottom: 1vw;
        }

        .input-group {
            width: 50Vw;
            margin-bottom: 1.5vw;
        }

        .input-group label {
            display: block;
            margin-bottom: 0.5vw;
        }

        .input-group input,
        .input-group textarea {
            width: 100%;
            padding: 1vw;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        .input-group textarea {
            height: 10vw;
        }

        .contact-info {
            display: flex;
            flex-direction: column;

            align-items: center;
            margin-top: 2vw;
        }

        .contact-info i {
            font-size: 2rem;
            margin: 1vw;
        }

        .cinfo {
            display: flex;
            flex-wrap: wrap;
            background-color: #fff;
            color: #0fafff;
            border-radius: 5px;
            margin: 2vw;
            padding: 1vw;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
        }

        @media only screen and (min-width: 1200px) and (max-width: 1599px) {
            .form {
                height: calc(100% - 150px);

            }

            .faql {
                display: flex;
                flex-wrap: none;
                width: 80vw;
            }

        }

        @media screen and (min-width: 768px) {
            section {
                padding: 5vw;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            section h2 {
                margin-right: 2vw;
                text-align: left;
            }



            .menu-icon {
                display: none;
            }

            nav {
                flex-direction: row;
            }

            ul {
                overflow: hidden;
            }

            li {
                display: inline-block;
            }

        }

        @media screen and (max-width: 767px) {
            body {
                width: 100vw;
            }

            .menu-icon {
                position: absolute;
                float: right;
                margin: 3vw;
                top: 0;
                right: 0;
                display: block;
                transition: all 0.2s ease;

            }

            nav ul {
                display: none;
                width: 100%;
                flex-direction: column;
                list-style-type: none;
            }

            nav ul.show {
                transition: all 0.2s ease;
                width: 40vw;
                padding: 1vw;
                margin: 10vw 0 10vw 0;
                display: flex;
                align-items: flex-end;
            }

            nav a {
                transition: all 0.2s ease;

                float: none;
                display: block;
                text-align: right;
            }

            /* /////////////////////////  HOME ///////////////////////// */
            .internal {
                width: 80vw;
                height: 90vh;
                flex-direction: column-reverse;
                justify-content: space-evenly;
            }

            section {
                height: auto;
            }

            section img {
                width: 15vh;
            }

            .text {
                text-align: center;
                margin: 1vw;
            }

            /* .internal img{
                display: none;
            } */
            .store {
                padding: 5vw;


            }

            /* ////////////////////////////////// About ////////////////////////////////////////////// */
            .txt h1 {
                font-size: 1.5rem;
            }

            .txt p {
                font-size: 1rem;
            }

            .icon {
                font-size: 2rem;
                margin-left: 1rem;
            }

            /* /////////////////////////// Contact US //////////////////////////////////////// */
            .internal1 {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
            }

            .cinfo {
                display: flex;
                flex-wrap: wrap;
                background-color: #ffffff00;
                color: #000000;
                border-radius: 5px;
                margin: 2vw;
                padding: 1vw;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

            }
            .input-group {
            width: 80Vw;
            margin-bottom: 1.5vw;
        }

            /* ///////////////////////////// FAQ /////////////////////////////// */
    
            .faql {
                display: flex;
                flex-wrap: wrap;
                width: 80vw;
            }
            /* ////////////////////////////// OUR TEAM ///////////////////////////////////// */
            .team-member img {
            width: 50vw;
      
        }
        }
